* {
  margin: 0;
  padding: 0;
}

div.container {
  background-image: url(https://source.unsplash.com/random/1080x720);
  background-color: #333;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

div.dark-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  opacity: 0.7;
}

div.quote-box {
  z-index: 100;
  margin: 10vw;
}

div.quote {
  display: flex;
  flex-flow: column;
}

p.message {
  font-family: "Satisfy", cursive;
  font-size: calc(1em + 3vw);
  color: #e8e8e8;
}

p.author {
  font-family: "Satisfy", cursive;
  font-size: calc(1.5em + 1vw);
  color: #AAA;
  align-self: flex-end;
}

div.button-box {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}

.button {
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  padding: 0.2em 0.6em;
  background: none;
  border: 2px solid #e8e8e8;
  color: #e8e8e8;
}
