body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: SignPainter, serif;
    font-size: 6vw;
}

h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2vw;
    font-weight: 100;
}

h1, h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
}

.nav-container {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.header-container {
    flex: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-nav-container {
    display: flex;
}

nav {
    flex: 1;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 1vw;
}

a {
    color: #4a4a4a;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    color: #50E3C2;
}

ul {
    display: flex;
    color: #4a4a4a;
}

.links-bar {
    display: flex;
    flex: 1;
}

.social-bar {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.social-bar i {
    font-size: 2vw;
}

li {
    list-style: none;
    margin: 0 1vw;
}

#fb, #twitter, #linkedin {
    transition: all 0.25s;
}

#fb:hover {
    color: #3b5998;
}

#twitter:hover {
    color: #00aced;
}

#linkedin:hover {
    color: #007bb6;
}

@font-face {
    font-family: SignPainter;
    src: url(../fonts/SignPainter-HouseScript.ttf);
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row-reverse;
}

.image-container {
    background-image: url(../img/large-sitting.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: sepia(75%);
}

.text-container {
    background: #FAFAFA;
    display: flex;
    flex-flow: column;
}

.half-width {
    width: 50vw;
}

.full-height {
    height: 100vh;
}
