body {
    padding: 0;
    margin: 0;
}

h1, h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

@media all
  and (min-width: 320px) or (min-device-width: 320px)
  and (max-width: 1199px) or (max-device-width: 1199px){
      .main-container {
          width: 100vw;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #FAFAFA;
          background-image: url(../img/large-sitting.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
      }

      h1 {
          font-family: SignPainter, serif;
          font-size: 6em;
          color: #FAFAFA;
      }

      h2 {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 2em;
          font-weight: 100;
          color: #FAFAFA;
      }

      ul {
          display: flex;
          color: #4a4a4a;
          justify-content: center;
          width: 30vw;
          padding: 0;
      }

      li {
          list-style: none;
          margin: 0 1.5em;
      }

      a {
          color: #FAFAFA;
          text-decoration: none;
          transition: all 0.5s;
      }

      a:hover {
          color: #50E3C2;
      }

      nav {
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 300;
          font-size: 1.5em;
      }

      ul {
          display: flex;
          color: #FAFAFA;
          margin: 0;
      }

      .links-bar, .social-bar {
          display: flex;
          justify-content: center;
          margin-top: 1em;
      }

      #fb, #twitter, #linkedin {
          font-size: 1.5em;
          transition: all 0.25s;
      }

      #fb:hover {
          color: #3b5998;
      }

      #twitter:hover {
          color: #00aced;
      }

      #linkedin:hover {
          color: #007bb6;
      }

      .nav-container {
          margin-top: 3em;
      }

      hr {
          margin-top: 1em;
      }

}

@media all
  and (min-width: 1200px) or (min-device-width: 1200px) {
      h1 {
          font-family: SignPainter, serif;
          font-size: 6vw;
          color: #4a4a4a;
      }

      h2 {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 2vw;
          font-weight: 100;
          color: #4a4a4a;
      }

      .nav-container {
          flex: 1;
          display: flex;
          align-items: flex-end;
      }

      .header-container {
          flex: 9;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .inner-nav-container {
          display: flex;
      }

      nav {
          flex: 1;
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 300;
          font-size: 1.5em;
      }

      a {
          color: #4a4a4a;
          text-decoration: none;
          transition: all 0.5s;
      }

      a:hover {
          color: #50E3C2;
      }

      ul {
          display: flex;
          color: #4a4a4a;
      }

      .links-bar {
          display: flex;
          flex: 1;
      }

      .social-bar {
          display: flex;
          flex: 1;
          justify-content: flex-end;
      }

      .social-bar i {
          font-size: 2vw;
      }

      li {
          list-style: none;
          margin: 0 1vw;
      }

      #fb, #twitter, #linkedin {
          transition: all 0.25s;
      }

      #fb:hover {
          color: #3b5998;
      }

      #twitter:hover {
          color: #00aced;
      }

      #linkedin:hover {
          color: #007bb6;
      }

      @font-face {
          font-family: SignPainter;
          src: url(../fonts/SignPainter-HouseScript.ttf);
      }

      .main-container {
          width: 100vw;
          height: 100vh;
          display: flex;
          flex-flow: row-reverse;
      }

      .image-container {
          background-image: url(../img/large-sitting.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
      }

      .text-container {
          background: #FAFAFA;
          display: flex;
          flex-flow: column;
      }

      .half-width {
          width: 50vw;
      }

      .full-height {
          height: 100vh;
      }

      hr {
        display: none;
      }
}
