body {
    padding: 0;
    margin: 0;
}

.full-container {
    width: 100vw;
    height: 100vh;
}

.image-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

#me {
    background-image: url(../img/ok.jpeg);
}

#music {
    background-image: url(../img/stage.jpeg);
}
